<template>

	<lightning-card>
		<h1 slot="title">{title}</h1>
		<div slot="actions"><lightning-button-icon icon-name="action:refresh" title="refresh" onclick={doRefresh}></lightning-button-icon></div>
		<div>
			<p class="slds-text-color_error slds-m-horizontal_small">{errorMsg}</p>
			<div style="text-align: center;">
				<canvas class="qrcode-canvas" style="padding:1em; background-color:#E8E8E8; margin: .2em auto;" title={text}></canvas>
			</div>
			<pre style="display: none">{stats}</pre>
		</div>
	</lightning-card>
</template>